.table-header {
  font: 20px sans-serif;
  padding-top: 10px;
  padding-bottom: 30px;
}

.btn-group {
  float: left
}
/* 
.btn, .btn:hover {
  color: #7f7f7f;
  background-color: white
}

.btn.active, .btn.active:hover {
  background-color: #7f7f7f
} */

th, td {
  border-bottom: 1px solid lightgrey;
  text-align: left
}

td { font-size: 15px }

.numbercell { text-align: right }