.table-header {
  font: 20px sans-serif;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px
}

.btn-group {
  float: right
}

.btn, .btn:hover {
  color: #7f7f7f;
  background-color: white
}

.btn.active, .btn.active:hover {
  background-color: #7f7f7f
}

.content {
  max-width: 1000px;
  display: inline-block;
  background-color: white;
  padding: 20px
}

table, th, td {
  border-bottom: 1px solid lightgrey;
  text-align: left
}

.numbercell { text-align: right }