.table-header {
  font: 20px sans-serif;
  padding: 20px;
  background-color: black
}

.sorting-buttons {
  float: right
}

.btn, .btn:hover {
  color: #7f7f7f;
  background-color: white
}

.btn.active {
  background-color: #7f7f7f
}

table {
  margin-top: 10px;
  background-color: #272727
}

thead {
  margin-left: 10px;
  border-bottom:  1px solid #555555;
}

td {
  font-weight: 600;
  opacity: 0.87;
  height: 48px;
  padding-left: 24px;
  text-align: start;
  border-bottom: 1px solid #555555;
}

th { 
  font-weight: 600;
  opacity: 0.54;
  text-align: left;
  height: 50px;
}

.numbercell { text-align: right }